body {
	background-color: pink;
}

.top-container {
	background-image: url("images/background.jpg");
	width: 100%;
	border-style: dashed;
	border-color: white;
}

.header {
	width: 65%;
	margin: 0 auto;
	text-align: center;
	color: white;
	font-family: 'Courgette', cursive;
	background-color: hotpink;
	padding: 10px;
	border-right-style: dashed;
	border-left-style: dashed;
	border-top-style: none;
	border-bottom-style: none;
	border-color: white;
	border-radius: 10px;
}

.header h1 {
	font-size: 120px;
}


@media all and (max-width: 875px) {
	.header h1 {
	font-size: 90px;
	}
}

@media all and (max-width: 610px) {
	.header h1 {
	font-size: 58px;
	}

	.question p {
		font-size: 30px;
	}
}

.welcome {
	margin-top: 15px;
	font-family: 'Courgette', cursive;
	color: hotpink;
	text-align: center;
	font-size: 30px;
	background-color: white;
	border-style: dashed;
	border-color: pink;
	padding: 5px;
	padding-top: 15px;
}

.question {
	margin-top: 20px;
	font-family: 'Times New Roman', serif;
	color: black;
	font-size: 41px;
	font-weight: bold;
	text-align: center; 
}

.col-md-4 {
	padding: 10px;
}

.cookieimg {
	height: 300px;
	background-size: cover;
	background-position: center;
	border-style: ridge;
	border-color: dodgerblue;
	border-width: 5px;
}

.choc {
	background-image: url("images/choc.jpg");
}

.sugar {
	background-image: url("images/sugar.jpg");
}

.lemon {
	background-image: url("images/lemon.jpg");
}

.cookiename {
	color: black;
	font-family: 'Courgette', cursive;
	font-size: 40px;
}

input {
	background-color: mistyrose;
	width: 50%;
	border-radius: 10px;
	border-style: ridge;
	border-color: dodgerblue;
	color: deeppink;
	font-size: 24px;
	font-family: 'Times New Roman', serif;
}

button {
	background-color: palevioletred;
	width: 50%;
	border-radius: 10px;
	border-style: ridge;
	border-color: dodgerblue;
	color: mistyrose;
	font-size: 24px;
	font-family: 'Times New Roman', serif;
}

.ent {
	background-color: white;
}

.bottom-container {
	margin-top: 30px;
}

.basket {
	font-family: 'Courgette', cursive;
	color: black;
	text-align: center;
	font-size: 25px;
	background-color: mistyrose;
	border-style: dashed;
	border-color: pink;
	padding: 5px;
	padding-top: 15px;
}

.qty {
	font-size: 20px;
	font-family: 'Courgette', cursive;
	color: hotpink;	
	text-align: center;
}

